 on boot
 # Added Manual For beanpod
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist

# Added Manual for Keystore
service keystore_auth /system/bin/keystore_auth
    user system
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

# Added Apexd
service apexd /system/bin/apexd
    interface aidl apexservice
    class core
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0

service apexd-bootstrap /system/bin/apexd --bootstrap
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0

service apexd-snapshotde /system/bin/apexd --snapshotde
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0